﻿@model List<Product>

<h1>Products</h1>

<h2>List View:</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Id. @product.Name - @product.Price$ (@product.CreatedDate)</li>
    }
</ul>

<h2>Table View:</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price$</td>
            <td>@product.CreatedDate</td>
        </tr>
    }
</table>


<style>
    table, th, td {
        padding:5px;
        border: 1px solid;
    }
</style>